/* Primary document styling */
html {
    height: 100%;
    width:100%;
}

body{
  align-content: center;
  /*font-family: 'Poppins', sans-serif;*/
  font-family: "Open Sans", sans-serif;
  font-size: 1.5em;
  height: 100%;
  width:100%;
  padding: 0;
  margin: 0;
  /*background: rgb(250, 219, 216);*/
  background: white;
}

a.text{
  color: steelblue;
}

/* Misc. styling */
.shadow {
  box-shadow: 2px 2px 5px 1px rgba(0, 0, 0, 0.2);
}

/* Menu styling */
.menu-container{
  width: 600px;
  position: absolute;
  z-index:1001;

  left: 50%; /* Put position:fixed in horizontal center */
  margin-left: -300px; /* Negative half of width.*/
}

ul#menu{
  text-align: center;
  padding: 1rem;
  padding-top: 0.5rem;
  margin: 0px;
  background: #fff;
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
}

ul#menu li {
  font-size: 2rem;
  display: inline-block;
  border-radius: 8px;
}

ul#menu li:hover{
  background-color: rgb(242, 243, 244);
}

ul#menu a {
    padding: 0.5em;
    display: block;
    color: steelblue;
}

ul#menu a:hover {
    text-decoration: none;
}

/* Header styling */
header {
  text-align: center;

  width: 100%;
  height: 100%;
  margin: 0;
  padding-top: 8rem;
  padding-bottom: 8rem;
  background: url('../img/header.jpg');
  background-size: cover;
  /*opacity: 0.2;*/
}

.inner-header{     
  /*top: 10em;*/
  /*margin: 10%*/
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: relative;
}

h1.name{
  color: white;
  font-family: 'Ubuntu', sans-serif;
  font-weight: bold; 
  font-size: 5em; 
  margin-bottom: 0;
  text-shadow: 3px 3px rgba(0, 0, 0, 0.2);
}

h2.subtitle{
  color: steelblue;
  font-size: 2.5em;
  margin-top: 1rem;
  margin-bottom: 0;
}

h3.address{
  color: #7D90A1;
  font-weight: bold;
  /*color: steelblue;*/
  font-size: 1em;
  margin-top: 1.5rem;
  margin-bottom: 6rem;
}

a.resume-button{
  color: white;
  font-size: 1em;
  padding: 1.5rem 2rem;
  border-radius: 3rem;
  border: 3px solid;
  transition: 0.3s;
  text-shadow: 2px 2px rgba(0, 0, 0, 0.2);
  box-shadow: 2px 2px 5px 1px rgba(0, 0, 0, 0.2);
}


a.resume-button:hover{
  color: steelblue;
  text-decoration: none;
  /*border-color: white;*/
  background-color: white;


  transition: 0.4s;
}

/* Content styling */

.content{
  width: 100%;
  margin: auto;
  padding: 8rem;
  text-align: center;
  border-top: 1px solid rgb(202, 207, 210);
}

h1.title{
  width: 100%;
  /*padding: 0rem;*/
  padding-bottom: 0rem;
  font-size: 2.5em;
  font-weight: lighter;
}

/* Style the little horizontal line under each title */
hr.short{
  width: 10rem;    
  height: 3px;
  margin-top: 0rem;
  margin-bottom: 4rem;
 
  color: steelblue;
  background-color: steelblue;
  border: none;
}

/* About styling */

.about{
  background-color: white;
}

p.about{
  width: 60%;
  margin: auto;
  text-align: justify;
}

/* Education Styling */
.education{
  background-color: rgb(242, 243, 244);
}

.education-card{
  margin: auto;
  margin-top: 2em;
  max-width: 800px;
  /*min-height: 200px;*/
  height: auto;
  overflow: hidden;
  background: white;
  padding: 2em;
  /*border-radius: 10px; */
}

h2.education-title{
  float: left;
  font-size: 1.5em;
  margin: 0;
}

h2.education-date{
  text-align: right;
  font-size: 1em;
  margin: 0;
  margin-top: 4px;
}

h3.education-subtitle{
  /*font-size: 1.5rem;*/
  font-size: 18px;
  text-align: left;
}

p.education-details{
  font-size: 14px;
  color: rgb(75, 88, 101);
  margin-top: 1em;
  text-align: left;
}

/* Project styling */

.projects{
  background-color: white;
}

/* Each container that surrounds a project */
.project-card{
  margin: auto;
  margin-top: 2em;
  max-width: 1000px;
  min-height: 300px;
  height: auto;
  overflow: hidden;
  background: white;
  border-radius: 10px; 
}

/* The image to the left of the project description */
.project-img{
  height: 300px; 
  width: 300px;
  background-size: 100% 100% !important;
  background-repeat: no-repeat;
  background-position: center;
  float: left;
  display: inline-block;  
}

/* Required to align the text veritcally */
.project-text-outer{
  display: table;
  min-height: 300px;
  margin: auto;
}

.project-text-inner{ 
  display: table-cell; 
  vertical-align: middle; 
  text-align: center;

  padding: 1em;
}

/* Styling the actual content */

h2.project-title{
  float: left;
  font-size: 1.5em;
}

h2.project-date{
  text-align: right;
  font-size: 1em;
}

p.project-text{
  font-size: 1em;
  text-align: justify;
  max-width: 600px;
  margin: 1.5em auto;
}

a.project-link{
  padding: 3em;
}

@media (max-width: 1000px) {  
  .project-img {
    display: none !important;
  }
}

/* Experience styling */
.experience{
  background-color: rgb(242, 243, 244);
}

.experience-card{
  margin: auto;
  margin-top: 2em;
  max-width: 800px;
  /*min-height: 200px;*/
  height: auto;
  overflow: hidden;
  background: white;
  padding: 2em;
  /*border-radius: 10px; */
}

h2.experience-title{
  float: left;
  font-size: 1.5em;
  margin: 0;
}

h2.experience-date{
  text-align: right;
  font-size: 1em;
  margin: 0;
  margin-top: 4px;
}

h3.experience-subtitle{
  /*font-size: 1.5rem;*/
  font-size: 18px;
  text-align: left;
}

ul.experience-details{
  font-size: 14px;
  color: rgb(75, 88, 101);
  margin-top: 1em;
  text-align: left;
}

/* Skills Styling */
.skills{
  background-color: white;
}

ul#skills-list{
  text-align: center;
  padding: 0rem;
  margin: auto;
  background: #fff;
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
  width: 500px;
}

ul#skills-list li {
  display: inline-block;
  padding: 10px;
  margin: 5px;

  font-size: 2rem;
  
  background: rgb(242, 243, 244);
}

/* Contact styling */
.contact{
  background-color: rgb(242, 243, 244);
}

/* footer styling */

footer {
  width: 100%;
  height: 80px;
  background-color: rgb(242, 243, 244);
  padding: 15px 30px 15px 30px;
  border-top: 1px solid rgb(202, 207, 210);
}

p.footer-text{
  float: left;
  margin: 12px;
}

.icon-container{
  /*background: blue;*/
  /*float: right;*/
  text-align: right;
  /*padding: 15px;*/
  /*align-content: right;*/
}

a.icon{
 color: rgb(75, 88, 101);
 transition: 0.3s;
}

a.icon:hover{
  color: steelblue;
  transition: 0.3s;
}

i {
  font-size: 24px;
  padding: 10px;
}
