html{
  height: 100%;
  width: 100%;
}

body{
  align-content: center;
  /*font-family: 'Poppins', sans-serif;*/  
  text-align: center;  

  font-family: "Open Sans", sans-serif;
  font-size: 1.5em;
  min-height: 100%;
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
  /*color: white;*/
  /*background: rgb(250, 219, 216);*/
  /*background: rgb(243, 161, 153);*/
  /*background: rgb(241, 148, 138);*/
  background: white;
}

/* Style the little horizontal line under each title */
hr.short{
  width: 10rem;    
  height: 3px;
  margin-top: 0rem;
  margin-bottom: 4rem;
 
  border: none;
}

hr.long{
  width: 50rem;    
  height: 3px;
  margin-top: 0rem;
  margin-bottom: 4rem;
 
  border: none;
}


.primary-color{
  color: rgb(243, 161, 153);
}

.primary-bgcolor{
  background-color: rgb(243, 161, 153);
}


.secondary-color{
  color: white;
}

.secondary-bgcolor{
  background-color: white;
}


.breakfast-wrapper{
  background: rgb(243, 161, 153);
}

.evening-wrapper{
  background: white;
  
}
.dessert-wrapper{
  background-color: rgb(243, 161, 153);
}

.lead{
  text-align: center;

  width: 100%;
  height: 100%;
  margin: 0;
  background: url('../img/food/bg.jpg');
  background-size: cover;

}

.inner-lead{
  max-width: 800px;     
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: relative;
}

/* Misc. styling */
.shadow {
  /*box-shadow: 2px 2px 5px 1px rgba(0, 0, 0, 0.2);*/
}

/* Each container that surrounds a item */
.item-card{
  margin: auto;
  margin-top: 2em;
  max-width: 900px;
  min-height: 200px;
  height: auto;
  overflow: hidden;
  /*background: white;*/
  /*border: 1px solid black;*/
  border-radius: 2px; 
}

/* The image to the left of the item description */
.item-img{
  height: 200px; 
  width: 200px;
  background-size: 100% 100% !important;
  background-repeat: no-repeat;
  background-position: center;
  float: left;
  display: inline-block;  
}

/* Required to align the text veritcally */
.item-text-outer{
  display: table;
  min-height: 200px;
  width: 600px;
  margin: auto;
}

.item-text-inner{ 
  display: table-cell; 
  vertical-align: middle; 
  text-align: left;

  padding: 1em;
}

.item-text{ 
  font-style: italic;
}


/* Styling the actual content */

h1{
  font-size: 3em;
  text-align: center;
  padding: 12px;
}

h2 {
  text-align: left;

}
.item-title{
  font-weight: bolder;
  font-size: 2em;
  margin-top: 0;
  margin-bottom: 8px;
}
.item-title-kr{
  font-weight: bolder;
  margin: 0;
  font-size: 1.5em;
}

p.item-text{
  font-size: 1.5em;
  text-align: justify;
  max-width: 600px;
  margin: 1.5em auto;
}


.title{
  font-weight: bolder;
  text-align: center;
  font-size: 4em;
  padding: 32px;
  padding-bottom: 48px;
  text-shadow: 3px 3px rgba(0, 0, 0, 0.2);
}

.content-wrapper{
  padding: 64px;
}
